<form>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <mat-form-field>
                    <mat-label>User</mat-label>
                    <input name="userName" matInput placeholder="User name" value="" [(ngModel)]='user' required minlength="4"
                        #userName=ngModel>
                    <mat-error
                        *ngIf='userName.errors != null && userName.errors.required  && (userName.dirty || userName.touched)'>
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input name="password" type="password" matInput placeholder="Your password" value="" [(ngModel)]='password'
                        required #userPassword=ngModel>
                    <mat-error
                        *ngIf='userPassword.errors != null && userPassword.errors.required  && (userPassword.dirty || userPassword.touched)'>
                        Pssword is required
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
                <button mat-button class="center-block" (click)='login()'>Login</button>
            </div>
        </div>
    </div>
</form>