<div class="container">
    <div class="row">
        <p>Gooogbye</p>
    </div>
    <div class="row">
        <button mat-button  class="center-block" (click)='logout()'>Logout</button>
    </div>

</div>