<div class="container">
  <nav class="navbar navbar-default navbar-static-top">
    
      <ul  class="nav navbar">
        <li><a routerLinkActive="active" routerLink="/"> Home</a></li>
        <li><a routerLinkActive="active" routerLink="login">Login</a></li>
        <li><a routerLinkActive="active" routerLink="logout">Logout</a></li>
      </ul>
     
  </nav>
  <router-outlet></router-outlet>
</div>

 